# --- AMBIENTE ---
NODE_ENV=development

# --- PORTAS ---
FRONTEND_PORT=5173
BACKEND_PORT=3000
DATABASE_PORT=5432

# --- BANCO DE DADOS (POSTGRES) ---
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=nome_do_banco

# String de conexão do Prisma
DATABASE_URL=postgresql://seu_usuario:sua_senha@database:5432/nome_do_banco?schema=public

# --- AUTENTICAÇÃO ---
JWT_SECRET=insira_uma_chave_hash_aqui